@import "../../pages/Main/Main.scss";
@import "../../styles/baseline.scss";

.carousel {
    grid-area: results;
    height: 580px;
    width: 100%;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
    display: grid;
    justify-items: stretch;
    grid-template-rows: repeat(2, 210px);
    gap: 2rem;

    @include tablet {
        grid-template-rows: repeat(2, 280px);
        padding: 0rem 1rem;
    }

    &__preview {
        height: 100%;
        width: 100%;
        border-radius: 8px;
        box-shadow: rgba(95, 42, 42, 0.2) 0px 0px 30px;
        background-color: black;
        position: relative;
    }

    &__tag {
        background-color: rgba(0, 0, 0, 0.226);
        border-radius: 16px;
        padding: 0.5rem 1rem;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        margin: 1rem;
    }

    &__image {
        background-position: center;
        background-image: cover;
        border-radius: 8px;
        width: 100%;
        height: 100%;
    }
}