@import "../../styles/baseline.scss";

.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;

    &__section {
        width: 100vw;
        display: grid;
        justify-items: stretch;
        grid-template-columns: 1rem 1fr 1rem;
        gap: auto;
        z-index: 900;

        @include desktop {
            grid-template-columns: 1fr repeat(4, 270px) 1fr;
        }

        &--hero {
            height: 90vh;
            margin: auto 0;
            justify-content: center;
            grid-template-areas:
                " . copy .";

            @include desktop {
                height: 100vh;
                grid-template-areas:
                " . copy copy copy copy .";
            }
        }

        &--results {
            margin: 5rem 0;
            grid-template-areas:
                " . copy ."
                " . results .";

            @include desktop {
                grid-template-areas:
                " . copy copy results results .";
            }
        }

        &--service {
            margin: 1rem 0;
            grid-template-areas:
                " . copy ."
                " . service .";

            @include desktop {
                margin: 5rem 0;
                grid-template-areas:
                " . copy copy . . ."
                " . accolade accolade accolade accolade ."
                " . service service service service .";
            }
        }

        &--about {
            margin: 8rem 0rem 5rem 0rem;
            grid-template-rows: 1fr repeat(3, 420px);
            gap: 1rem 0rem;
            grid-template-areas:
                " . copy ."
                " . test1 ."
                " . test2 ."
                " . test3 .";

            @include desktop {
                margin: 15rem 0rem 5rem 0rem;
                grid-template-rows: repeat(10, 100px);
                gap: 4rem 0rem;
                grid-template-areas:
                " . copy copy . . ."
                " . copy copy . . ."
                " . copy copy test2 test2 ."
                " . . . test2 test2 ."
                " . test1 test1 test2 test2 ."
                " . test1 test1 test2 test2 ."
                " . test1 test1 test3 test3 ."
                " . test1 test1 test3 test3 ."
                " . . . test3 test3 ."
                " . . . test3 test3 ."
            }
        }

        &--contact {
            //margin: 5rem 0rem 10rem 0rem;
            grid-template-areas:
                " . copy .";

            @include desktop {
                padding: 5rem 0rem 20rem 0rem;
                background-color: #f3f3f3;
                grid-template-areas:
                " . copy copy . . .";
            }
        }
    }

    &__partition {
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        transform-origin: 0 50%;
        height: 2600px;
        background: linear-gradient(90deg, #1086F6, #0B79E6, #118DFD);
        //background: linear-gradient(90deg, rgba(23,139,248,1) 0%, rgba(23,135,248,1) 35%, rgba(0,183,255,1) 100%);
        transform: skewY(-8deg);
        z-index: 20;
    }

    &__partition2 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: 0 50%;
        height: 1500px;
        background: #f3f3f3;
        transform: skewY(-8deg);
        z-index: 2;
    }
}
/*
@import "../../styles/baseline.scss";

.main {
    width: 100vw;
    height: 90vh;
    margin: 0;
    background-color: #2997ff;

    &__container {
        margin: auto 20px;
        height: 100vh;
        display: flex;
        vertical-align: center;
        align-content: center;
        padding: auto 0;
        flex-direction: column;
        justify-content: space-between;

        @include tablet {
            margin: 0 60px;
            display: flex;
            flex-direction: row;
        }

        @include laptop-small {
            margin: 0 100px;
        }

        @include laptop {
            margin: 0 auto;
            padding: 6rem 0rem;
            width: 1200px;
        }
    }

    &__heading {
        font-size: 2.8rem;
        line-height: 3.4rem;
        font-weight: 700;
        color: white;
        margin-bottom: 50px;
    
        @include tablet {
            font-size: 4rem;
            line-height: 5rem;
            width: 80%;
        }
    }

    &__mission {
        display: flex;
        padding-bottom: 40px;
        color: rgba(255, 255, 255, 0.75);
        width: 70%;
        font-weight: 500;

        @include tablet {
            padding-bottom: 80px;
        }
    }
}

*/