@import "../../styles/baseline.scss";

@keyframes scrollHint {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(20%);
    }
}

.scrollbar {
    position: fixed;
    width: 100vw;
    height: 8vh;
    justify-items: stretch;
    grid-template-areas: " . scroll .";
    grid-template-columns: 18vw 64vw 18vw;
    z-index: 1000;
    bottom: 0;
    text-align: center;

    &--active {
        display: grid;
    }

    &--inactive {
        display: none;
    }

    &__drop {
        grid-area: scroll;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &:hover > span {
            opacity: 1;
        }
    }

    &__label {
        color: rgba(255, 255, 255, 0.5);
        padding-bottom: 4px;
        transition: opacity 0.3s ease;
        opacity: 0;
    }

    &__icon {
        fill: white;
        height: 20px;
        animation: scrollHint 0.8s linear infinite alternate;
    }
}