@import "../../styles/baseline.scss";

.help {
    position: relative;
    //height: 12px;
    width: 12px;
    margin-bottom: 5px;
    margin-left: 6px;

    &__icon {
        height: 12px;
        width: 12px;

        &:hover {
            opacity: 0.6;
        }
    }

    &__dropdown {
        margin-top: 28px;
        position: absolute;
        top: 0;
        left: -182px;
        z-index: 3000;
        background: white;
        width: 380px;
        padding: 1rem 2rem;
        text-align: center;
        height: min-content;
        background: white;
        box-shadow: rgba(82, 82, 82, 0.2) 0px 0px 30px;
        border-radius: 4px;
        padding-inline-start: 0px;
        border: 1px solid #EEEEEE;
        justify-self: center;
        -webkit-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;

        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
          
        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity:1 ;
            }
        }

        ::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent white transparent;
            box-shadow: rgba(82, 82, 82, 0.2) 0px 0px 30px;
        }
    }

    &__information {
        color: black;
    }
}