@import "../../pages/Main/Main.scss";
@import "../../styles/baseline.scss";

.hero {
    height: 100vh;
    width: 100vw;
    display: grid;
    justify-items: stretch;
    grid-template-areas: ". hero-container .";
    grid-template-columns: 1fr 1080px 1fr;
    gap: auto;
    z-index: 900;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;

    &__container {
        grid-area: hero-container;
        align-self: center;
        width: 1080px;
        display: grid;
        justify-items: stretch;
        grid-template-areas: 
            "hero-title"
            "hero-caption"
            "hero-actions";
        grid-template-rows: repeat(2, min-content) 43px;
        row-gap: 2.5rem;
    }

    &__icon {
        fill: white;
        transform: scaleX(-1);
        height: 1.3rem;
    }

    &__heading {
        font-size: 2.8rem;
        line-height: 3.4rem;
        font-weight: 700;
        color: white;
    
        @include tablet {
            font-size: 4.8rem;
            line-height: 5.8rem;
            width: 90%;
        }
    }

    &__mission {
        display: flex;
        color: rgba(255, 255, 255, 0.75);
        width: 40%;
        font-weight: 500;
        line-height: 2rem;
    }

    &__actions {
        grid-area: hero-actions;
        display: grid;
        grid-template-columns: repeat(2, 120px);
        justify-content: stretch;
        gap: 1rem;
    }

    &__button {
        cursor: pointer;
        outline: none;
        text-align: center;
        border-radius: 4px;
        font-size: 0.9rem;
        padding: 0.75rem 1rem;
        border: none;
        font-weight: 500;
        transition: box-shadow 0.2s ease;
        color: white;
        width: 100%;

        &--primary {
            backdrop-filter: blur(20px);
            background-color: rgba(255,255,255,0.15);
            box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 0px;

            &:hover {
                box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 4px;
            }

            &:active {
                box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 2px;
            }
        }

        &--secondary {
            background-color: rgba(255, 255, 255, 0.021);
            border: 1px solid rgba(255, 255, 255, 0.158);
            box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 0px;

            &:hover {
                box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 4px;
            }

            &:active {
                box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 2px;
            }
        }
    }
}

/*
@import "../../pages/Main/Main.scss";
@import "../../styles/baseline.scss";

.hero {
    height: 100vh;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
        " . hero hero ."
        " . results results ."
        " . process process ."
        " . about about ."
        " . contact contact ."
        " . footer footer .";
    grid-template-columns: 18vw 32vw 32vw 18vw;
    gap: auto;
    grid-area: hero;
    width: 100%;
    z-index: 900;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    justify-content: center;

    &__actions {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 60px;
    }

    &__icon {
        fill: white;
        transform: scaleX(-1);
        height: 1.3rem;
    }

    &__heading {
        font-size: 2.8rem;
        line-height: 3.4rem;
        font-weight: 700;
        color: white;
        padding-bottom: 40px;
    
        @include tablet {
            font-size: 5.8rem;
            line-height: 5.8rem;
            width: 68%;
        }
    }

    &__mission {
        display: flex;
        color: rgba(255, 255, 255, 0.75);
        width: 40%;
        font-weight: 500;
        line-height: 2rem;
        padding-bottom: 50px;
    }

    &__cta {
        display: inline;
        width: 140px;
        padding: 1rem 1.5rem;
        color: white;
        border-radius: 8px;
        text-align: center;
        font-size: 0.9rem;
        max-height: 44px;
        vertical-align: center;
        margin: auto 0;

        &--primary {
            backdrop-filter: saturate(180%) blur(20px);
            background-color: rgba(255,255,255,0.15);
            margin-right: 0.5rem;
        }

        &--secondary {
            background-color: rgba(255, 255, 255, 0.021);
            border: 1px solid rgba(255, 255, 255, 0.158);
        }
    }
}

*/