@import "../../styles/baseline.scss";

.selection {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;

    &__label {
        margin-bottom: 10px;
        font-size: 0.8rem;
        color: #999999;
    }

    &__list {
        padding-inline-start: 0px;

        &--vertical {
            display: flex;
            flex-direction: column;
        }

        &--horizontal {
            display: flex;
            flex-direction: row;
            height: 50px;
        }
    }

    &__item {
        border-radius: 4px;
        padding: 0.5rem;
        width: 100%;
        align-items: top;
        display: flex;
        flex-direction: row;
        border: 1px solid white;

        &--horizontal {
            height: 50px;
        }

        &:hover {
            background-color: rgba(41, 152, 255, 0.05);
            border: 1px solid rgba(41, 152, 255, 0.05);
        }
    }

    &__input {
        height: 1rem;
        width: 1rem;
        border: 1.5px solid #dbdbdb;
    }

    &__option {
        font-size: 1rem;
    }

    &__container {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        width: 100%;
    }

    &__field {
        border-radius: 4px;
        padding: 0.75rem;
        font-size: 1rem;
        width: 100%;
        margin-top: 15px;
        background-color: #fafafa;
        border: 1.5px solid #dbdbdb;
        height: 50px;

        &--default {
            background-color: #F2F3F7;
            border: 1.5px solid #E1E1E1;
        }
    
        &--selected {
            background-color: white;
            border: 1.5px solid white;
        }
    }

    &__link {
        text-decoration: underline;
        color: #2997ff;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}