@import "../../styles/baseline.scss";

.home {
    grid-area: dashboard-content;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
        "home-overview home-updates home-updates home-updates"
        "home-actions home-actions home-actions home-actions";
    grid-template-rows: min-content 1fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 1rem;

    &__section {

        &--overview {
            grid-area: home-overview;
            padding-right: 3rem;
        }

        &--updates {
            grid-area: home-updates;
        }

        &--actions {
            grid-area: home-actions;
        }
    }

    &__container {
        display: grid;
        justify-items: stretch;
        gap: 1rem;

        &--updates {
            grid-template-columns: repeat(3, 1fr);
        }

        &--actions {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__status {
        //display: flex;
        //flex-direction: row;
        height: 180px;
        //background: white;
        border-radius: 4px;
        //padding: 1rem 1.5rem;
        //background-color: #fafafa;
        background: white;
        //border: 1.5px solid #e9e9e9;
        transition: box-shadow 0.2s ease;
        //box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 0px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;

        /*
        &:nth-of-type(1) {
            //border-left: 1rem solid rgba(255, 205, 58, 0.5);

            & > div:nth-of-type(1) {
                color: rgb(158, 119, 0); 
                padding: 0.5rem;
                background: rgba(255, 205, 58, 0.2);
            }
        }

        &:nth-of-type(2) {
            //border-left: 1rem solid #e3e8ee;

            & > div:nth-of-type(1) {
                padding: 0.5rem;
                background: #e3e8ee;
                color: #4f566b;
            }
        }

        &:nth-of-type(3) {
            //border-left: 1rem solid rgb(218, 255, 219);

            & > div:nth-of-type(1) {
                padding: 0.5rem;
                //background: #e3e8ee;
                background: rgb(218, 255, 219);
                color: rgb(20, 112, 17);
            }
        }

        &--payment-active {
            //background: rgba(255, 205, 58, 0.2);
            //border-color: rgba(158, 119, 0, 0.15);  
            background: rgba(255, 205, 58, 0.2);
            border-color: rgba(158, 119, 0, 0.05);  

            & > span {
                color: rgb(158, 119, 0);  
            }
        }

        &--review-active {
            background: #e3e8ee;
            border-color: rgba(79, 86, 107, 0.05);

            & > span {
                color: #4f566b; 
            }
        }

        &--feedback-active {
            background: rgb(218, 255, 219);
            border-color: rgb(20, 112, 17);

            & > span {
                color: rgb(20, 112, 17);
            }
        }
        */



        &:hover {
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 4px;

            & > a {
                opacity: 1;
            }
        }
    
        &:active {
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 2px;
        }
    }

    &__overview {
        display: flex;
        flex-direction: column;
        height: 180px;
        //background: white;
        //background-color: #f3f3f3;
        background: white;
        border-radius: 4px;
        padding: 1rem 1.5rem;
        //border: 1.5px solid #e9e9e9;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
    }

    &__card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 2rem;
        height: 300px;
        border-radius: 4px;
        color: white;
        //border: 1.5px solid #1f92fd;
        background: linear-gradient(90deg, #1086F6, #0B79E6, #118DFD);
        //background-color: #f3f3f3;
        padding: 1rem 1.5rem;
        //border: 1.5px solid #e9e9e9;
        transition: background-color 0.25s ease-in-out;
        transition: border-color 0.25s ease-in-out;
        transition: box-shadow ease 0.2s;
        //box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 0px;
        overflow: hidden;
        //box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;

        & > div:nth-of-type(1) {
            display: flex;
            flex-direction: column;
        }

        & > div {
            height: 100%;
        }

        &:hover {
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 4px;

            & > a {
                opacity: 1;
            }
        }
    
        &:active {
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 2px;
        }
    }

    &__details {
        height: 100%;
        justify-content: center;
        align-content: center;
    }

    &__preview {
        position: relative;
        height: 100%;
        padding-top: 100%;
    }

    &__title {
        color: white;
    }

    &__caption {
        color: rgba(255, 255, 255, 0.6);
        line-height: 1.5rem;
        margin-top: 0.5rem;
    }

    &__redirect {
        backdrop-filter: blur(20px);
        background-color: rgba(255, 255, 255, 0.15);
        display: inline-block;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        margin-top: 1rem;
        width: fit-content;
    }

    &__image {
        width: 480px;
        position: absolute;
        top: 3rem;
        left: 0;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 15px;
    }
}