@import "../../styles/baseline.scss";

.home {
    grid-area: dashboard-content;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
        "home-overview home-updates"
        "home-actions home-actions";
    grid-template-rows: min-content 1fr;
    grid-template-columns: calc((100% / 3) - 4rem) 1fr;
    gap: 4rem;

    &__section {

        &--overview {
            grid-area: home-overview;
        }

        &--updates {
            grid-area: home-updates;
        }

        &--actions {
            grid-area: home-actions;
        }
    }

    &__container {
        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        height: 200px;
        //background: white;
        border-radius: 4px;
        padding: 1rem 1.5rem;
        background-color: #fafafa;
        border: 1.5px solid #e9e9e9;
        transition: box-shadow 0.2s ease;
        box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 0px;

        &--payment {

            & > h1 {
                color: yellow
            }
        }

        & > h4 {
            margin-top: 0.25rem;
        }

        & > a {
            margin-top: 0.5rem;
            color: #1f92fd;
            opacity: 0;
        }

        &:hover {
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 4px;

            & > a {
                opacity: 1;
            }
        }
    
        &:active {
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 2px;
        }
    }

    &__overview {
        display: flex;
        flex-direction: column;
        height: 200px;
        background: white;
        border-radius: 4px;
        padding: 1rem 1.5rem;
        border: 1.5px solid #e9e9e9;
    }

    &__action {
        display: flex;
        flex-direction: column;
        height: 280px;
        border-radius: 4px;
        border: 1.5px solid #1f92fd;
        background-color: #1f92fd;
        transition: background-color 0.25s ease-in-out;
        transition: border-color 0.25s ease-in-out;
        transition: box-shadow ease 0.2s;
        box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 0px;

        &:hover {
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 4px;

            & > a {
                opacity: 1;
            }
        }
    
        &:active {
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 2px;
        }
    }
}