@import "../../styles/baseline.scss";

.cases {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: stretch;
    grid-template-columns: 260px 1fr;
    //grid-template-rows: 8rem 1fr;
    //row-gap: 3rem;

    &--display {
        grid-template-columns: 260px 1fr;
    }

    &--empty {
        grid-template-columns: 1fr;
    }

    &__list {
        position: relative;
        height: 100vh;
        //padding: 1rem 0rem;
        display: grid;
        grid-template-areas: 
            "cases-header"
            "cases-nav";
        grid-template-columns: 1fr;
        grid-auto-rows: 5rem 1fr;
        //row-gap: 1rem;
        border-right: 1px solid #e7e7e7;
        background: #f3f3f3;
        //background-color: #fafafa;
    }

    /*
    &__nav {
        position: relative;
        height: 100vh;
        //padding: 1rem 0rem;
        display: grid;
        grid-template-areas: 
            ". selected ."
            ". updated ."
            ". all .";
        grid-template-columns: 1rem 1fr 1rem;
        grid-auto-rows: min-content;
        row-gap: 1rem;
        border-right: 1px solid #e7e7e7;
        background: #f3f3f3;
        //background-color: #fafafa;
        overflow: hidden;
        overflow-y: scroll;
    }
    */

    &__header {
        grid-area: cases-header;
        display: grid;
        grid-template-areas: 
            "cases-context cases-toggle"
            "cases-filter cases-toggle";
        grid-template-columns: 1fr 44px;
        grid-auto-rows: repeat(2, min-content);
        //position: sticky;
        background: #f3f3f3;
        z-index: 900;
        padding: 1.8rem 1rem 0.5rem 1rem;
        top: 0;
        border-bottom: 1px solid #e7e7e7;
        //display: flex;
        //flex-direction: column;
        //justify-content: flex-end;

        & > h4 {
            grid-area: cases-filter;
            font-size: 0.8rem;
        }

        & > h3 {
            grid-area: cases-context;
        }

        & > div {
            grid-area: cases-toggle;
            align-self: center;
        }
    }

    &__label {
        //opacity: 0.5;
        padding-bottom: 1rem;
    }

    &__nav {
        grid-area: cases-nav;
        height: calc(100vh - 5rem);
        overflow: hidden;
        overflow-y: scroll;
        padding: 1rem;
    }

    &__items {
        padding-inline-start: 0px;
    }

    &__item {
        background-color: #ffffff;
        height: 100px;
        width: 100%;
        border-radius: 6px;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        transition: box-shadow 0.2s ease;
        background: white;
        box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 0px;
        border: 1.5px solid #e9e9e9;
        cursor: pointer;

        &--other {
            &:hover {
                border-color: #dbdbdb;
                //background-color: #fafafa;
                box-shadow: rgba(207, 207, 207, 0.36) 0px 0px 0px 0px;
        
                &:hover {
                    box-shadow: rgba(207, 207, 207, 0.36) 0px 0px 0px 4px;
                }
        
                &:active {
                    box-shadow: rgba(207, 207, 207, 0.36) 0px 0px 0px 2px;
                }
            }
        }

        &--current {
            border: 1.5px solid rgba(41, 152, 255, 0.05);
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 4px;
        }
    }

    &__also {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

        & > h4:nth-of-type(1) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 160px;
        }

        & > h4:nth-of-type(2) {
            background: rgba(255, 229, 85, 0.438);
            color: rgba(141, 134, 91, 0.8); 
            padding: 0.1rem 0.2rem;
            //height: 25px;
            font-size: 0.7rem;
            border-radius: 4px;
            margin-top: 0.5rem;
            display: inline;
            width: 110px;
        }
    }

    &__clear {
        margin-bottom: 2rem;
        width: 100%;
        color: blue;
    }
}

/*

@import "../../styles/baseline.scss";

.cases {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
        " cases-nav cases-header "
        " cases-nav cases-content";
    grid-template-columns: 260px 1fr;
    grid-template-rows: 8rem 1fr;
    row-gap: 3rem;

    &__header {
        grid-area: cases-header;
        display: grid;
        justify-items: stretch;
        align-content: center;
        grid-template-areas: 
        " cases-context cases-searchbar cases-cta ";
        grid-template-columns: 1fr 200px 120px;
        gap: 1rem;
        padding: 0rem 5rem;
    }

    &__searchbar {
        grid-area: cases-searchbar;
        justify-self: end;
        width: 200px;
        position: relative;
        height: 44px;
    }

    &__context {
        font-size: 2.4rem;
        text-transform: capitalize;
    }

    &__field {
        justify-self: end;
        width: 200px;
        font-family: inherit;
        border-radius: 4px;
        padding: 0.75rem 0.75rem 0.75rem 2.2rem;
        background-color: #fafafa;
        border: 1.5px solid #dbdbdb;
        margin-bottom: 30px;
        font-size: 1rem;
        height: 44px;
        transition: border-color 0.25s ease-in-out;
        transition: width 0.4s ease-in-out;

        &:hover {
            border: 1.5px solid #868686;
        }

        &:focus {
            transition: width 0.4s ease-in-out;
            width: 100%;
        }
    }

    &__icon {
        grid-area: icon;
        height: 100%;
        //width: 100%;
        padding: 0.7rem;
        align-self: center;
        justify-self: center;
        opacity: 0.9;

        &--search {
            position: absolute;
            padding: 0.85rem;
        }
    }

    &__cta {
        grid-area: cases-cta;
        width: 120px;
    }

    &__nav {
        grid-area: cases-nav;
        height: 100vh;
        padding: 1rem 0rem;
        display: grid;
        grid-template-areas: 
            ". selected ."
            ". updated ."
            ". all .";
        grid-template-columns: 1rem 1fr 1rem;
        grid-auto-rows: min-content;
        row-gap: 1rem;
        border-right: 1px solid #e7e7e7;
        //background: #f3f3f3;
        background-color: #fafafa;
        overflow: hidden;
        overflow-y: scroll;
    }

    &__label {
        opacity: 0.5;
        padding-bottom: 1rem;
    }

    &__items {
        height: auto;

        &--selected {
            grid-area: selected;
        }

        &--updated {
            grid-area: updated;
        }

        &--all {
            grid-area: all;
        }
    }

    &__caselist {
        padding-inline-start: 0px;
    }

    &__item {
        background-color: #ffffff;
        height: 100px;
        width: 100%;
        border-radius: 6px;
        margin-bottom: 1rem;
        padding: 0.5rem 1rem;
        transition: box-shadow 0.2s ease;
        box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 0px;
        border: 1.5px solid #e9e9e9;

        &:hover {
            border: 1.5px solid rgba(41, 152, 255, 0.05);
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 4px;
        }
    
        &:active {
            border: 1.5px solid rgba(41, 152, 255, 0.05);
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 2px;
        }
    }

    &__content {
        grid-area: cases-content;
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: stretch;
        grid-template-areas: 
            "test-patient test-overview"
            "test-patient test-data";
        grid-template-columns: 240px 1fr;
        grid-template-rows: 12rem 1fr;
        gap: 4rem 6rem;
        padding: 0rem 5rem;
    }

    &__section {
        &--patient {
            grid-area: test-patient;
        }

        &--overview {
            grid-area: test-overview;
        }

        &--data {
            grid-area: test-data;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        padding-inline-start: 0px;

        & > li {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 1rem;

            & > p:nth-of-type(1) {
                opacity: 0.5;
                text-transform: capitalize;
            }
        }
    }

    &__button {
        max-width: 200px;
    }

    &__records {
        display: grid;
        justify-items: stretch;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        padding-inline-start: 0px;
        justify-content: center;
        padding: auto;
        //padding-bottom: 2rem;
        //padding: 4px;
        //overflow: scroll;
        overflow: scroll;
        top: 0;
    }

    &__record {
        background-color: #f3f3f3;
        height: 180px;
        border-radius: 4px;
        border: 1.5px solid #e9e9e9;
        transition: box-shadow 0.2s ease;
        box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 0px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        outline: none;

        &:hover {
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 4px;
            background-image:
            linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73));
        }
    
        &:active {
            box-shadow: rgba(70, 169, 235, 0.36) 0px 0px 0px 2px;
        }
    }

    &__container {
        padding: 2rem 4px;
    }
}
*/