@import "../../pages/Main/Main.scss";
@import "../../styles/baseline.scss";

.about {
    height: 100vh;
    grid-area: about;
    width: 100%;
    z-index: 900;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    justify-content: center;

    &__actions {
        width: 25%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 60px;
    }

    &__icon {
        fill: black;
        transform: scaleX(-1);
        height: 1.3rem;
    }

    &__heading {
        font-size: 2.8rem;
        line-height: 3.4rem;
        font-weight: 700;
        padding-bottom: 40px;
    
        @include tablet {
            font-size: 5.8rem;
            line-height: 5.8rem;
            width: 68%;
        }
    }

    &__details {
        display: flex;
        width: 40%;
        font-weight: 500;
        line-height: 1.8rem;
        padding-bottom: 50px;
    }

    &__cta {
        display: inline;
        width: 140px;
        padding: 1rem 1.5rem;
        border-radius: 8px;
        text-align: center;
        font-size: 0.9rem;
        max-height: 44px;
        vertical-align: center;
        margin: auto 0;

        &--primary {
            background-color: rgba(255, 255, 255, 0.158);
            margin-right: 0.5rem;
        }

        &--secondary {
            background-color: rgba(255, 255, 255, 0.021);
            border: 1px solid rgba(255, 255, 255, 0.158);
        }
    }
}