@import "../../styles/baseline.scss";

.header {
    position: fixed;
    width: 100vw;
    height: 8vh;
    display: grid;
    justify-items: stretch;
    grid-template-areas: " . headest headest .";
    grid-template-columns: 18vw 32vw 32vw 18vw;
    z-index: 1000;
    transition: background-color 0.5s ease;

    &--active {
        transition: background-color 0.5s ease;
        background-color: white;
    }

    &--inactive {
        transition: background-color 0.5s ease;
        background-color: rgba(255, 255, 255, 0);
    }

    &__watermark {
        color: white;
        font-size: 1.6rem;
    }

    &__container {
        grid-area: headest;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        transition: background-color 0.3s ease;
        vertical-align: center;
        margin: auto 0;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        padding-inline-start: 0px;
        width: 50%;
        justify-content: space-between;
        text-align: center;
        transition: opacity 0.5s ease;

        &--active {
            transition: opacity 0.5s ease;
            opacity: 1;
        }

        &--inactive {
            transition: opacity 0.5s ease;
            opacity: 0;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        & > li {
            color: black;
        }
    }

    &__actions {

        &--inactive {
            visibility: hidden;
        }

        &--inactive {
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    &__button {
        display: inline;
        width: 140px;
        padding: 0.75rem 1.5rem;
        color: white;
        border-radius: 8px;
        text-align: center;
        outline: none;
        border: none;
        font-size: 0.9rem;

        &--primary {
            background-color: rgba(255, 255, 255, 0.158);
        }

        &--secondary {
            background-color: rgba(255, 255, 255, 0.021);
            border: 1px solid rgba(255, 255, 255, 0.158);
            margin-right: 0.5rem;
        }
    }
}