@import "../../styles/baseline.scss";

.header {
    position: fixed;
    width: 100vw;
    height: 4.5rem;
    display: grid;
    justify-items: stretch;
    grid-template-areas: " . header-container .";
    grid-template-columns: 1rem 1fr 1rem;
    z-index: 9000;
    transform: translateY(0);
    transition: transform 0 ease;
    transition: 0.3s ease;
    //border-bottom: 1px solid;
    //background-color: inherit;
    //backdrop-filter: blur(20px);

    @include desktop {
        grid-template-areas: " . header-container .";
        grid-template-columns: 1fr 1080px 1fr;
       //gap: 1rem;
    }

    &--active {
        background-color: white;
        border-color:#e7e7e7;
    }

    &--inactive {
        background-color: rgba(255,255,255,0.0);
        border-color: #e7e7e700;
    }


    &.hidden {
        transform: translateY(-110%);

        @include desktop {
            transform: translateY(0);
        }
    }

    &__container {
        grid-area: header-container;
        //height: 43px;
        align-self: center;
        width: 100%;
        display: grid;
        justify-items: stretch;
        grid-template-areas: " header-watermark header-nav header-actions";
        grid-template-columns: min-content 1fr min-content;
        gap: 7rem;
    }

    &__link {
        padding: 0.5rem 0;
        color: black;

        &.active {
            color: black;
            border-bottom: 1px solid black;
        }
    }

    &__watermark {
        grid-area: header-watermark;
        width: 100%;
        font-size: 1.2rem;
        margin: auto 0px;
        vertical-align: center;

        @include tablet {
            font-size: 1.6rem;
        }

        &--active {
            color: #3a3a3a;
        }

        &--inactive {
            color: white;
        }
    }

    &__nav {
        grid-area: header-nav;
        width: 100%;
        display: none;
        flex-direction: row;
        padding-inline-start: 0px;
        justify-content: space-between;
        text-align: center;
        transition: opacity 0.5s ease;
        margin: auto 0px;

        @include tablet {
            display: flex;
        }

        &.hide {
            visibility: hidden;
        }

        &--active {
            transition: opacity 0.5s ease;
            opacity: 1;
        }

        &--inactive {
            transition: opacity 0.5s ease;
            //opacity: 0;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        height: 100%;

        &--inactive {
            opacity: 0;
        }
    }

    &__actions {
        display: none;

        @include tablet {
            align-self: center;
            grid-area: header-actions;
            display: grid;
            grid-template-columns: repeat(2, 120px);
            justify-content: stretch;
            gap: 1rem;
        }

        &.hide {
            visibility: hidden;
        }

        &--inactive {
            visibility: hidden;
        }

        &--inactive {
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    &__button {
        cursor: pointer;
        outline: none;
        text-align: center;
        border-radius: 4px;
        font-size: 0.9rem;
        padding: 0.75rem 1rem;
        border: none;
        font-weight: 500;
        transition: box-shadow 0.2s ease;
        color: white;
        width: 100%;

        &--primary {
            //background-color: rgba(255, 255, 255, 0.158);
            backdrop-filter: blur(20px);
            background-color: rgba(255,255,255,0.15);
            box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 0px;

            &:hover {
                box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 4px;
            }

            &:active {
                box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 2px;
            }
        }

        &--secondary {
            background-color: rgba(255, 255, 255, 0.021);
            border: 1px solid rgba(255, 255, 255, 0.158);
            box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 0px;

            &:hover {
                box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 4px;
            }

            &:active {
                box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 2px;
            }
        }
    }
}

/*
@import "../../styles/baseline.scss";

.header {
    position: fixed;
    width: 100vw;
    height: 4.5rem;
    display: grid;
    justify-items: stretch;
    grid-template-areas: " . headest .";
    grid-template-columns: 1rem 1fr 1rem;
    z-index: 9000;
    transform: translateY(0);
    transition: transform 0 ease;
    transition: 0.3s ease;
    border-bottom: 1px solid;

    @include desktop {
        grid-template-areas: " . headest headest headest headest headest headest headest headest .";
        grid-template-columns: 1fr repeat(8, 135px) 1fr;
    }

    &.hidden {
        transform: translateY(-110%);
    }

    &--active {
        //transition: background-color 0.5s ease;
        //transition: backdrop-filter 0.5s ease;
        //backdrop-filter: saturate(180%) blur(20px);
        background-color: white;
        border-color:#e7e7e7;
    }

    &--inactive {
        //transition: background-color 0.5s ease;
        //transition: backdrop-filter 0.5s ease;
        //backdrop-filter: saturate(0%) blur(0px);
        background-color: rgba(255,255,255,0.0);
        border-color: #e7e7e700;
    }

    &__watermark {
        font-size: 1.2rem;

        @include tablet {
            font-size: 1.6rem;
        }

        &--active {
            color: #3a3a3a;
        }

        &--inactive {
            color: white;
        }
    }

    &__drop {
        transition: 0.2s ease 0s;
        width: 14px;
        height: 14px;
        margin: auto 0;
        padding-top: 4px;
        fill: rgba(255, 255, 255, 0.733);
    }

    &__container {
        grid-area: headest;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        transition: background-color 0.3s ease;
        vertical-align: center;
        margin: auto 0;
        z-index: 1000;
    }

    &__nav {
        display: none;
        flex-direction: row;
        padding-inline-start: 0px;
        width: 40%;
        justify-content: space-between;
        text-align: center;
        transition: opacity 0.5s ease;

        @include tablet {
            display: flex;
        }

        &.hide {
            visibility: hidden;
        }

        &--active {
            transition: opacity 0.5s ease;
            opacity: 1;
        }

        &--inactive {
            transition: opacity 0.5s ease;
            //opacity: 0;
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        &--active {

            & > li {
                color: #3a3a3a85;
            }
        }

        &--inactive {

            & > li {
                color: white;
            }
        }
    }

    &__actions {
        display: none;

        @include tablet {
            display: flex;
        }

        &.hide {
            visibility: hidden;
        }

        &--inactive {
            visibility: hidden;
        }

        &--inactive {
            width: 25%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }

    &__button {
        display: inline;
        width: 140px;
        padding: 0.75rem 1.5rem;
        color: white;
        border-radius: 8px;
        text-align: center;
        outline: none;
        border: none;
        font-size: 0.9rem;

        &--primary {
            //background-color: rgba(255, 255, 255, 0.158);
            //backdrop-filter: saturate(180%) blur(20px);
            background-color: rgba(255,255,255,0.15);
        }

        &--secondary {
            background-color: rgba(255, 255, 255, 0.021);
            border: 1px solid rgba(255, 255, 255, 0.158);
            margin-right: 0.5rem;
        }
    }
}

*/