@import "../../styles/baseline.scss";

.footer {
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 900;
    display: grid;
    justify-items: start;
    grid-template-areas: 
        " . foot ."
        " . links1 ."
        " . links2 .";
    grid-template-columns: 1rem 1fr 1rem;
    background: #f3f3f3;
    padding: 0rem 1rem;

    @include tablet {
        grid-template-areas: ". foot . links1 links2 .";
        grid-template-columns: 1fr repeat(4, 270px) 1fr;
    }

    &__header {
        color: #3a3a3a;
    }

    &__container {
        z-index: 1000;
        grid-area: foot;
        display: flex;
        width: 100%;
        flex-direction: column;
        transition: background-color 0.3s ease;
        padding: 0rem 1rem;
    }

    &__links1 {
        z-index: 1000;
        grid-area: links1;
        display: flex;
        width: 100%;
        flex-direction: column;
        transition: background-color 0.3s ease;
        padding: 0rem 1rem;
    }

    &__links2 {
        z-index: 1000;
        grid-area: links2;
        display: flex;
        width: 100%;
        flex-direction: column;
        transition: background-color 0.3s ease;
        padding: 0rem 1rem;
    }

    &__links {
        padding-inline-start: 0px;
    }
}