@import "../../styles/baseline.scss";

.footer {
    width: 100vw;
    height: 400px;
    //background-color: #f3f3f3;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    //overflow: hidden;
    z-index: 900;
    display: grid;
    justify-items: stretch;
    grid-template-areas: " . foot .";
    grid-template-columns: 1rem 1fr 1rem;
    border-top: 1px solid #e7e7e7;
    padding: 0rem 1rem;

    @include tablet {
        grid-template-areas: " . foot foot foot foot .";
        grid-template-columns: 1fr repeat(4, 270px) 1fr;
    }

    &__header {
        color: #3a3a3a;
    }

    &__container {
        z-index: 1000;
        grid-area: foot;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        transition: background-color 0.3s ease;
        margin-top: 4rem;
    }
}