@import "../../styles/baseline.scss";

.table {
    display: grid;
    justify-items: stretch;
    grid-template-areas: 
    " labels "
    " data ";
    width: 100%;

    &__list {
        padding-inline-start: 0px;

        &--labels {
            border-bottom: 1px solid #f3f3f3;
            padding: 1rem 0rem;
        }
    }

    &__row {
        display: grid;
        justify-items: stretch;
        grid-template-areas: 
            " type value category";
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

        &--labels {
            grid-area: labels;
        }

        &--data {
            grid-area: data;
            grid-template-rows: auto auto;
            border-bottom: 1px solid #f3f3f3;
            padding: 1rem 0rem;
        }
    }

    &__column {

        &--type {
            grid-area: type;
        }

        &--value {
            grid-area: value;
        }

        &--category {
            grid-area: category;
        }
    }
}