@import "../../styles/baseline.scss";

.progress {
    display: flex;
    flex-direction: column;
    text-align: center;
    //vertical-align: center;
    margin: auto 0;
    //margin-bottom: 60px;

    &__container {
        height: 10px;
        width: 150px;
        background-color: #F2F3F7;
        border-radius: 50px;
        //margin: 50;
        position: relative;
    }

    &__bar {
        height: 100%;
        background-color: #2997ff;
        border-radius: inherit;
        position: absolute;
        left: 0;
        transition: width 0.3s ease-in-out;
    }

    &__label {
        padding-top: 6px;
        color: #AAAAAA;
    }
}

/*

@import "../../styles/baseline.scss";

.progress {
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: center;
    margin: auto 0;

    &__container {
        height: 10px;
        width: 150px;
        background-color: #F2F3F7;
        border-radius: 50px;
        margin: 50;
        position: relative;
    }

    &__bar {
        height: 100%;
        background-color: #2997ff;
        border-radius: inherit;
        position: absolute;
        left: 0;
        transition: width 0.3s ease-in-out;
    }

    &__label {
        padding-top: 6px;
        color: #AAAAAA;
    }
}

*/